.container {
  padding: 5px;
  border: 1px solid #000;
}
.container DIV {
  margin: 5px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 90px 50px;
  /* border-color: transparent transparent #007bff transparent; */
}

.triangle.red {
  border-color: transparent transparent red transparent;
}
.triangle.blue {
  border-color: transparent transparent blue transparent;
}
.triangle.green {
  border-color: transparent transparent green transparent;
}

.square {
  width: 100px;
  height: 100px;
  background: red;
}

.circle {
  width: 100px;
  height: 100px;
  background: green;
  border-radius: 50%
}
